.to-do-list-container-label {
    margin: 10px;
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.col {
    display: inline-block;
}

.row {
    margin-bottom: 5px;
}

.section-header{
    width: 50%;
}

.to-do-list-container-actions {
    width: 50%;
    align-content: center;
    justify-content: flex-end;
    display: flex;
}
