.to-do-form {
    width: 400px;
    text-align: center;
}

.to-do-form-container {
    display: flex;
    justify-content: center;
}

.to-do-form button {
    margin: 10px;
    width: 30%;
}

@media only screen and (max-width: 700px) {
    .to-do-form button {
        padding: 10px;
    }
  }
  