
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    top: 400px;
}


@media only screen and (max-width: 700px) {
    .modal-content {
        padding: 10px 0px;
        margin: 0px;
        width: 100vw;
        border: 0px;
    }

    .modal {
        margin: 0px;
        width: 100vw;
    }
  }

  
@media only screen and (max-height: 500px) {

    .modal {
        padding-top: 50px;
    }
  }