nav {
  background-color: #006064;
  width: 100%;
  height: 80px;
  display: flex;
}

a {
  text-decoration: none;
}

.nav-link {
  margin: 10px;
}

#main-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;
}

#main-logo img {
  height: 55%;
}

#main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}

#main-menu a {
  color: #fff;
  font-size: 1.2em;
}